/*  list item  */
.todo {
    &__list {
        list-style: none;
        margin: 0;
        padding: 10px 0 10px 4%;
    }

    &__item {
        color: $dark-grey;
        position: relative;
        margin: auto 0;
        padding: 6px 0;

        & span {
            display: block;
            background-image: url("/assets/img/icons/icons8-remove-100.png");
            background-size: 0%;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px;
            margin: 0 auto;
            position: absolute;
            top: 6px;
            left: 90%;

        }

        & input {
            // Delete checkbox
            display: none;
            margin: 0;

            &:focus {
                outline: 0;
            }

            &:checked {

                // Style ckecked checkbox with animation.
                &+label::before {
                    content: "";
                    animation: splash 0.6s ease forwards;
                }

                &+label::after {
                    content: "";
                    transition: all 150ms ease;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: $turquoise;
                    background-image: $cb-tick-tur;
                }
            }

            // Checkbox aspect 
            &+label::before,
            &+label::after {
                content: "";
                padding: 8px;
                position: absolute;
                background: white;
                border: 1px solid $medium-grey;
                left: 0;
                top: 6px;
                border-radius: 50%;
            }

            &+label {
                display: block;
                padding: 0 30px;
                width: 80%;

                &:hover {
                    cursor: pointer
                }
            }
        }
    }
}

/*  list item ends  */

/* Add Item in box  */
#add-item {
    display: none;

    &+label {
        display: inline-block;
        padding: 0 0 0 0px;
        background: url("../img/icons/icons8-add-100.png") no-repeat;
        height: 25px;
        width: 25px;
        background-size: 100%;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    &:checked+label {
        background: url("../img/icons/icons8-cancel-100-4.png") no-repeat;
        height: 25px;
        width: 25px;
        display: inline-block;
        background-size: 100%;
    }
}

/* Input Starts*/

.field {
    margin: 20px 4% 10px 4%;
    height: 50px;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.field input {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    border: none;
    outline: none;
    background: none;
}

.field input:focus+label span,
.field input:valid+label span {
    transform: translateY(-150%);
    font-size: 0.8rem;
    color: $pink
}

.field label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $turquoise;
}

.field label::after {
    content: "";
    border-bottom: 2px solid $pink;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.field input:focus+label::after,
.field input:valid+label::after {
    transform: translateX(0%);
}

.field span {
    position: absolute;
    bottom: 2px;
    left: 0px;
    transition: all 0.3s ease;
}

/* Input ends*/