@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
/*  list item  */
.todo__list {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 4%;
}

.todo__item {
  color: #41424A;
  position: relative;
  margin: auto 0;
  padding: 6px 0;
}

.todo__item input {
  display: none;
  margin: 0;
}

.todo__item input:focus {
  outline: 0;
}

.todo__item input:checked + label::before {
  content: "";
  -webkit-animation: splash 0.6s ease forwards;
          animation: splash 0.6s ease forwards;
}

.todo__item input:checked + label::after {
  content: "";
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #17D2D5;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyBpZD0ibWFzdGVyLWFydGJvYXJkIiB2aWV3Qm94PSIwIDAgMTQwMCA5ODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQwMCA5ODA7IiB3aWR0aD0iMTQwMHB4IiBoZWlnaHQ9Ijk4MHB4Ij48ZyB0cmFuc2Zvcm09Im1hdHJpeCg0MC44MzMzMzMzMzMzMzMzMzYsIDAsIDAsIDQwLjgzMzMzMzMzMzMzMzMzNiwgMjA5Ljk5OTk0ODYzMTE1OSwgLTAuMDAwMDA0Mzg2MTIzMjM3MDU0NTYyKSI+PHBhdGggZD0ibS44MjggMTMuMzM2Yy0uMjYxLjMwNC0uMzg4LjY5MS0uMzU3IDEuMDkxcy4yMTUuNzY0LjUyIDEuMDI0bDcuNDAzIDYuMzQ2Yy4yNzUuMjM1LjYxNi4zNjEuOTc0LjM2MS4wNDQgMCAuMDg5LS4wMDIuMTM0LS4wMDYuNDA1LS4wMzYuNzctLjIyOSAxLjAyOC0uNTQybDEyLjY2Mi0xNS40MTFjLjI1NC0uMzEuMzczLS43LjMzNC0xLjA5OS0uMDQtLjM5OS0uMjMxLS43NTktLjU0MS0xLjAxNGwtMi4zMTgtMS45MDRjLS42MzktLjUyNC0xLjU4NS0uNDMyLTIuMTExLjIwN2wtOS43NDUgMTEuODYxLTMuOTE2LTMuMzU1Yy0uNjI4LS41MzYtMS41NzYtLjQ2NS0yLjExNS4xNjN6IiBzdHlsZT0iZmlsbC1vcGFjaXR5OiAxOyBmaWxsOiByZ2IoMjU1LCAyNTUsIDI1NSk7Ii8+PC9nPjwvc3ZnPg==);
}

.todo__item input + label::before,
.todo__item input + label::after {
  content: "";
  padding: 8px;
  position: absolute;
  background: white;
  border: 1px solid #bfbfc0;
  left: 0;
  top: 6px;
  border-radius: 50%;
}

.todo__item input + label {
  display: block;
  padding: 0 30px;
}

.todo__item input + label:hover {
  cursor: pointer;
}

/*  list item ends  */
/* Add Item in box  */
#add-item {
  display: none;
}

#add-item + label {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../img/icons/icons8-add-100.png") no-repeat;
  height: 25px;
  width: 25px;
  background-size: 100%;
  position: absolute;
  top: 8px;
  right: 8px;
}

#add-item:checked + label {
  background: url("../img/icons/icons8-cancel-100-4.png") no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-size: 100%;
}

/* Input Starts*/
.field {
  margin: 20px 4% 10px 4%;
  height: 50px;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.field input {
  width: 100%;
  height: 100%;
  padding-top: 22px;
  border: none;
  outline: none;
  background: none;
}

.field input:focus + label span,
.field input:valid + label span {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 0.8rem;
  color: #E15EBD;
}

.field label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #17D2D5;
}

.field label::after {
  content: "";
  border-bottom: 2px solid #E15EBD;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.field input:focus + label::after,
.field input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.field span {
  position: absolute;
  bottom: 2px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Input ends*/

@-webkit-keyframes splash {
  40% {
    background: #17D2D5;
    -webkit-box-shadow: 0 -18px 0 -8px #17D2D5, 16px -8px 0 -8px #17D2D5, 16px 8px 0 -8px #17D2D5, 0 18px 0 -8px #17D2D5, -16px 8px 0 -8px #17D2D5, -16px -8px 0 -8px #17D2D5;
            box-shadow: 0 -18px 0 -8px #17D2D5, 16px -8px 0 -8px #17D2D5, 16px 8px 0 -8px #17D2D5, 0 18px 0 -8px #17D2D5, -16px 8px 0 -8px #17D2D5, -16px -8px 0 -8px #17D2D5;
  }
  100% {
    background: #17D2D5;
    -webkit-box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
            box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash {
  40% {
    background: #17D2D5;
    -webkit-box-shadow: 0 -18px 0 -8px #17D2D5, 16px -8px 0 -8px #17D2D5, 16px 8px 0 -8px #17D2D5, 0 18px 0 -8px #17D2D5, -16px 8px 0 -8px #17D2D5, -16px -8px 0 -8px #17D2D5;
            box-shadow: 0 -18px 0 -8px #17D2D5, 16px -8px 0 -8px #17D2D5, 16px 8px 0 -8px #17D2D5, 0 18px 0 -8px #17D2D5, -16px 8px 0 -8px #17D2D5, -16px -8px 0 -8px #17D2D5;
  }
  100% {
    background: #17D2D5;
    -webkit-box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
            box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

body {
  background-color: #F7F7F7;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

header .title {
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  background-color: #E15EBD;
}

.box {
  border: 1 px solid #c0c0c0;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  position: relative;
  padding: 0.1rem 0;
}

.box .title {
  display: inline-block;
  position: absolute;
  top: -22px;
  left: 3%;
  padding: 0.25rem 0.5rem;
  background-color: #41424A;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
/*# sourceMappingURL=main.css.map */